@import url(./button.css);
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
}

button{
    border: none;
    outline: none;
    background: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.app{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    animation: fadeIn 2s 1;

    & h2{
        font-family: 'Arial';
        font-size: 2rem;
    }
}

.app_footer-controls{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.design-container{
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    z-index: -1;
}

.design-item{
    width: 300px;
    height: 300px;
    background: blue;
    border-radius: 20% 40% 70%  140%;
    position: absolute;
    animation: morph 15s infinite linear,rotateColors 10s infinite linear;
    filter: blur(25px);
}

.controls{
    & button{
        background: none;
        border: none;
        outline: none;
    

    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }

    & img {
        width: 35px;
    }
}

}

.app_footer{
    display: flex;
    height: 80px;
    width: 400px;
    border-radius: 15px;
    background: rgb(15, 15, 15);
    border: 1px solid rgb(34, 34, 34);
    position: fixed;
    bottom: 5%;
    left: calc(50% - 200px);
    padding: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.app_footer_progress{
    width: 80%;
    height: 5px;
    border-radius: 20px;
    border: 1px solid rgb(48, 48, 48);
    overflow: hidden;
}

#progress{
    height: 100%;
    width: 0%;
    background-color: orange;
}

.app-playlist{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    left: 4%;
    bottom: 4%;
}

#playlist{
    display: none;
    flex-direction: column;
    padding: 20px;
    background: white;
    backdrop-filter: blur(100px);
    z-index: 1001;
    color: Black;
    width: 600px;
    height: 400px;
    position: fixed;
    left: calc(50% - 300px);
    top: calc(50% - 200px);
    border-radius: 30px;
}

#close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 35px;
    cursor: pointer;
}

.playlist-table{
    font-family: Arial;
    font-size: 14px;
    padding: 20px;
}

.playlist-table-head{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.active{
    display: flex !important;
}
 
.playlist-card{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}

#mute{
    cursor: pointer;
    transition: all .2s ease;
    :hover{
        transform: scale(1.1);
    }
}

footer{
    height: 60px;
    text-align: center;
    color: white;
    align-items: center;
    font-family: Arial;
    font-size: 14px;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes morph{
    0%{
        border-radius: 40% 60% 70% 30% / 30% 70% 60% 40%;
        transform: translate(0,0) scale(1);
    }
    25%{
        border-radius: 60% 40% 50% 50% / 50% 60% 40% 60%;
        transform: translate(-50px,20px) scale(1.1);
    }
    50%{
        border-radius: 50% 50% 60% 40% / 60% 50% 40% 50%;
        transform: translate(50px,-30px) scale(1.2);
    }
    75%{
        border-radius: 70% 30% 40% 60% / 40% 60% 30% 70%;
        transform: translate(-20px,-50px) scale(1.1);
    }
    100%{
        border-radius: 40% 60% 70% 30% / 30% 70% 60% 40%;
        transform: translate(0,0) scale(1);
    }
}

@keyframes rotateColors{
    0%{
        background: red;
    }
    20%{
        background: orange;
    }
    30%{
        background: yellow;
    }
    40%{
        background: green;
    }
    55%{
        background: blue;
    }
    70%{
        background: blue;
    }
    85%{
        background: blueviolet;
    }
    100%{
        background: red;
    }
}

@media screen and (max-width: 500px){
    .app_footer{
        width: 90vw;
        left: calc(50% - 45vw);
    }
    #playlist{
        width: 90vw;
        left: calc(50% - 45vw);
    }
    .app-playlist{
        bottom: 20%;
        left: 35%;
    }
}

